body {
  color:#324251;
}

.title {
  font-weight: 900;
  line-height: 1.2;
}

p {
  line-height: 1.7;
  margin: 0;
  font-weight: 400;
}

.menu-link {
  color: #324251;
  text-decoration: none;
}

.media {
  border-radius: 10px;
}

.screenshot {
margin-top: 2rem
}

.banniere {
  height: 600px
}

.bgimage {

  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%;
  color: #fff;
}

.intro-text {
  margin-top : 10%
}

.intro-text h1 {
  font-size: 4em;
  color: #324251
}

.animation {
      transition:all 250ms cubic-bezier(0.02, 0.01, 0.47, 1);
      box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.animation:hover {
  transform: translateY(-8px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2)
}

footer {
 padding:1rem 1.5rem 1rem !important;
}
